
.blog, .article{
    position: relative;
    height: fit-content;
    padding-bottom: 0;
    font-family: 'Vollkorn',serif;
}

.article, .title{
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.title{
    margin-top: 20px;
}

.published{
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
}

.banner{
    border-radius: 8px;
}

.blog{
    width: 40%;
    padding: 0 5vw;
}